<%= form_with(model: product, local: true) do |form| %>
    <div class="field">
        <%= form.label :nome %>
        <%= form.text_field :nome %>
    </div>
    <div class="field">
     <%= form.label :value %>
     <%= form.text_field :value %>
    </div>
    <div class="field">
     <%= form.label :restaurant %>
     <%= form.collection_select(:restaurant_id, Restaurant.order(:nome), :id, :nome, include_blank: true) %>

    </div>
    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>